Gemfile.lock
*.gem
.rvmrc
.ruby-version
.ruby-gemset
.bundle/*
.yardoc/*
yardoc/*
tmp/*
man/*
*.tmproj
rdoc/*
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
git_pull.txt
coverage
.DS_Store
TAGS
tmtags
*.sw?
.idea
.rbx/*
lib/*.bundle
lib/*.so
lib/*.jar
ext/*.bundle
ext/*.so
ext/*.jar
pkg
*.gem
