# Project
Gemfile.lock
.bundle
tmp/*
coverage
pkg

# Yard documentation
.yardoc
yardoc

# IDEs' files
*.iml
*.tmproj
.idea
tmtags

# Local Ruby settings
.rspec-local
.rvmrc
.ruby-version
.ruby-gemset

# junk
.DS_Store
.githubtoken

spec/examples.txt