language: ruby
rvm:
  - 2.1.2
  - 2.0.0
  - 1.9.3
  - ruby-head
  - jruby-19mode
  - jruby-head
  - rbx-2
jdk:
  - oraclejdk8
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: 1.9.3
script: "bundle exec rspec --color --backtrace --seed 1 --format documentation ./spec"
