name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: [2.2, 2.3, 2.4, 2.5, 2.6, 2.7, '3.0', 3.1, jruby]

    env:
      JAVA_OPTS: '-Xmx1024m'
      RUBYOPT: '-w'
      JRUBY_OPTS: '--dev'

    name: "Tests: Ruby ${{ matrix.ruby }}"
    steps:
    - name: Clone Repo
      uses: actions/checkout@v2
    - name: Setup Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake ci
